@using Microsoft.AspNetCore.Identity
@using PinkMilkMedia.Models
@inject SignInManager<Owner> SignInManager
@inject UserManager<Owner> UserManager

<ul class="w3-navbar">
@if (SignInManager.IsSignedIn(User))
{
    <li class="w3-hide-small w3-left">
        <a id="manage" class="nav-link text-white w3-padding-large" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="w3-hide-small w3-left">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link w3-padding-large btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="w3-hide-small w3-left">
        <a class="nav-link text-white w3-padding-large" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="w3-hide-small w3-left">
        <a class="nav-link text-white w3-padding-large" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
