@model IEnumerable<PinkMilkMedia.Models.Photo>

@{
    ViewData["Title"] = "Photos";
}

<h1>Photos</h1>

<body>
    <div class="container">
        @foreach (var item in Model)
        {
            <div>
                <img src="@(item.path)" height="300" width="300">
            </div>
        }
    </div>
</body>