
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>

<article>
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
    The small red fox jumped over the big lazy dog.The small red fox jumped over the big lazy dog.
</article>

